@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 38% 100%;
    --foreground: 207 79% 4%;
    --muted: 27 30% 90%;
    --muted-foreground: 27 13% 30%;
    --popover: 207 38% 100%;
    --popover-foreground: 207 79% 4%;
    --card: 207 38% 100%;
    --card-foreground: 207 79% 4%;
    --border: 207 13% 94%;
    --input: 207 13% 94%;
    --primary: 207 78% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 78% 54%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27 78% 54%;
    --accent-foreground: 0 0% 0%;
    --destructive: 20 90% 22%;
    --destructive-foreground: 20 90% 82%;
    --ring: 207 78% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 207 39% 4%;
    --foreground: 207 27% 98%;
    --muted: 27 30% 10%;
    --muted-foreground: 27 13% 70%;
    --popover: 207 39% 4%;
    --popover-foreground: 207 27% 98%;
    --card: 207 39% 4%;
    --card-foreground: 207 27% 98%;
    --border: 207 13% 14%;
    --input: 207 13% 14%;
    --primary: 207 78% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 78% 54%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27 78% 54%;
    --accent-foreground: 0 0% 0%;
    --destructive: 20 90% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 207 78% 54%;
  }
}

.error-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23dc4405' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b53a04' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23b53a04' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b53a04' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b53a04' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a23204' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23dc4405' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b53a04' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b53a04' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a23204' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23dc4405' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b53a04' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
